extends layout

block content
  div(class='panel panel-primary')
    div(class='panel-heading') !{title}
    div(class='panel-body') Please enter your store name (without .myshopify.com) to install this application
    form(method='post')
      table(class='table')
        tr
          td
            input(class='form-control' name='storeName' placeholder='Please enter your store name')
          td
            button(type='submit' class='btn btn-primary') Add 
